$white: #fff;
$primary-background: #F5FAF8;
$text-color: #2B2843;

$main-green: #D5F2E8;
$darker-green: scale-color(#D5F2E8, $lightness: -40%);

$main-orange: #E86D18;
$lighter-orange: scale-color(#E86D18, $lightness: 30%);
