/* This is an example of how to import a partial scss file*/
@import 'reset';
@import '_variables';

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #2B2843;
}

body {
  height: 100vh;
  background-color: #F5FAF8;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div {
  border: 1px solid purple;
}

h1 {
  border: 1px solid purple;
  // display: inline;
  font-size: 1.2em;
  color: #21BF85;
  font-weight: 700;
}

h2 {
  font-size: 1.2em;
  font-weight: 700;
}

p {
  font-size: 0.5em;
  border: 1px solid blue;
}

header,
main {
  border-radius: 50px;
  padding: 1.2em;
}

header,
main,
.add-trip-input-fields,
.my-trips-dropdown,
.current-trip,
input,
select,
.trips section {
  box-shadow: 0px 5px 20px -5px rgba(33,191,133, 0.25);
}

header {
  background-image: url('../images/mountains-tanyadzu.png');
  background-size: cover;
  background-color: rgba(255, 255, 255, .3);
  background-blend-mode: color;
  background-position: center;
  // background-position: -25px -30px;
  height: 10em;
  max-height: fit-content;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .add-trip-input-fields {
    padding: 0 .5em;
    height: 100%;
    width: 80%;
    flex-wrap: wrap;
    background-color: #D5F2E8;
  }

  .destinations {
    width: 30%;
  }
}

form {
  min-height: 3.25em;
  border: 1px solid orange;
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  button {
    background-color: #F27244;
    color: #fff;
    font-size: .8em;
    font-weight: 700;
    height: 2em;
    padding: .5em 1em;
  }
}

select,
input {
  height: 2.75em;
}

select,
input {
  padding: .2em 1em;
}

input,
select,
button {
  border: 0;
}

input[type=date] {
  font-family: inherit;
  font-size: .5em;
  width: 12em;
}

.trip-categories {
  background-color: #D5F2E8;
}

.add-trip-input-fields,
input,
button,
select,
.trips section,
.current-trip {
  border-radius: 15px;
}

main {
  background-color: #fff;
  border: 1px solid red;
  margin-top: 1em;
  height: 22em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  section {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
  }

  .main-top-section {
    height: auto;
    display: flex;
    justify-content: space-between;
  }
}

.my-trips-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 15%;
  // padding: .3em;
}

.trips {
  padding: 1em;
  height: auto;
  /* to account for glide arrow...?*/
  padding-right: 5em;

  section {
    height: 12em;
    min-width: 20%;
    width: 28%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
  }

  div {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 1em;
    height: 3em;
  }
}

.current-trip {
  background-color: #D5F2E8;
  height: 4em;
  width: 35%;
  padding: .5em;
}
