@import 'reset';
@import '_variables';
@import '_mixins';

/* ~~~~~~~~~~ GLOBAL RULES ~~~~~~~~~~ */
* {
  box-sizing: border-box;
  border: 0;
}

html {
  background-color: $primary-background;
  color: $text-color; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

body {
  @include flex-column();
  min-height: 100vh;
  padding: 1.5em;
}

main,
header {
  border-radius: 50px;
  display: none;
  @include box-shadow(7px, -5px, rgba(33,191,133, 0.25));
  padding: 1em;
}

h1 {
  color: $darker-green;
  font-size: 1.4em;
}

h2 {
  font-size: 1.1em;
  margin-top: .4em;
}

h1,
h2 {
  font-weight: 700;
}

h3 {
  font-size: .8em;
}

p {
  font-size: .65em;
}

input,
select {
  @include height-padding(2.75em, .2em, 1em);
}

input[type=date] {
  font-family: inherit;
}

input,
select,
button {
  &:hover {
    cursor:pointer;
  }
}

button,
.add-trip-input-fields,
.trip-categories,
.current-trip {
  background-color: $main-green;
}

input,
select,
button,
.add-trip-input-fields,
.cost-estimate,
.dropdown-content,
.current-trip,
.trip-info {
  border-radius: 15px;
}

input,
select,
.traveler-login-form button,
.add-trip-form button,
.trip-categories,
.add-trip-input-fields,
.current-trip,
.dropdown-content {
  @include box-shadow(3px, -10px, rgba(0,0,0, 0.5));
}

.upcoming section,
.past section,
.pending section {
  @include box-shadow(5px, -5px, rgba(0,0,0, 0.5));
}

/* ~~~~~~~~~~ FLEX RULES ~~~~~~~~~~ */
.header-top-section,
.add-trip-form,
.add-trip-input-fields,
.user-info-dropdown-section {
  display: flex;
}

.traveler-login-form,
header,
.my-trips-category-dropdown,
.trip-info,
.current-destination {
  @include flex-column();
}

.traveler-login-form,
.header-top-section,
.add-trip-form,
.add-trip-input-fields {
  @include justify-between-align-center();
}

header,
.main-top-section,
.my-trips-category-dropdown,
.trip-info {
  @include flex-justify(space-between);
}

.current-destination,
.trip-info {
  text-align: right;
}


/* ~~~~~~~~~~ LOGIN RULES ~~~~~~~~~~ */
.traveler-login-section {
  height: 12em;

  .traveler-login-form {
    height: 100%;
  }

  button {
    width: 10%;
    height: 2.5em;
    transition: background-color 200ms ease;

    &:hover {
      background-color: $darker-green;
    }
  }

  p {
    font-weight: 700;
  }
}

/* ~~~~~~~~~~ HEADER RULES ~~~~~~~~~~ */

header {
  background-blend-mode: hard-light;
  background-color: rgba(255, 255, 255, .2);
  background-image: url('../images/mountains-tanyadzu.png');
  background-size: cover;
  background-position: center;
  height: 8em;

  .add-trip-form {
    min-height: 3.25em;

    .add-trip-input-fields {
      background-color: $main-green;
      flex-wrap: wrap;
      min-height: 80%;
      padding: 0 .5em;
      width: 75%;

      .destinations {
        width: 30%;
      }
    }

    button {
      background-color: $main-orange;
      color: $white;
      font-size: .8em;
      font-weight: 700;
      @include height-padding(2.2em, .5em, 1.2em);
      transition: background-color 200ms ease;

      &:hover {
        background-color: $lighter-orange;
      }
    }
  }
}

.cost-estimate {
  padding: .5em;
  text-align: center;
  width: 7em;
}

.user-info-dropdown-section {
  justify-content: flex-end;

  img {
    height: 2.5em;
  }

  .show-dropdown-content {
    background: none;
  }

  .dropdown-content {
    background-color: $white;
    display: none;
    font-size: 1.2em;
    @include height-padding(4em, 0, .5em);
    position: absolute;
  }
  
  &:focus .dropdown-content,
  &:hover .dropdown-content {
    @include flex-column();
    justify-content: space-evenly;
  }
}

/* ~~~~~~~~~~ MAIN RULES ~~~~~~~~~~ */

main {
  background-color: $white;
  margin-top: 1.3em;

  .main-top-section {
    @include height-padding(4em, 0, 1em);

    .my-trips-category-dropdown {
      min-width: 15%;

      .trip-categories {
        transition: background-color 200ms ease;

        &:hover {
          background-color: $darker-green;
        }
      }
    }

    .current-trip {
      padding: 1em;
      width: 40%;

      .current-destination {
        align-items: flex-end;
        justify-content: space-evenly;
      }
    }
  }

  .trips {
    padding: 1em;

    .upcoming,
    .past,
    .pending {
      grid-template-columns: repeat(auto-fill, minmax(300px, 30%));
      grid-gap: 2em;
      justify-content: center;
  
      section {
        align-items: flex-end;
        border-radius: 25px;
        @include height-padding(11em, .8em, .8em);
        @include flex-justify(flex-end);
  
        .trip-info {
          background-color: $white;
          @include height-padding(3.7em, .5em, .5em);
          width: 60%;
        }
      }
    }
  }
}
