@import 'reset';
@import '_variables';

* {
  box-sizing: border-box;
  border: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #2B2843; 
  // height: 300vh;
  border: 1px solid orange;
  background-color: #F5FAF8;
}

body {
  border: 1px solid blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

header, 
main {
  border: 1px solid green;
  border-radius: 50px;
  padding: 1em;
}

h1 {
  font-size: 1.4em;
  color: #21BF85;
  font-weight: 700;
}

h2 {
  font-size: 1.1em;
  font-weight: 700;
  margin-top: .4em;
}

h3 {
  font-size: .8em;
}

p {
  font-size: .65em;
}

input,
select {
  height: 2.75em;
  padding: .2em 1em;
  border-radius: 15px;

  &:hover {
    cursor: pointer;
  }
}

input[type=date] {
  font-family: inherit;
}



header {
  background-blend-mode: hard-light;
  background-color: rgba(255, 255, 255, .2);
  background-image: url('../images/mountains-tanyadzu.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 8.5em;
  // justify-content: space-between;

  .header-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .add-trip {
    min-height: 3.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .add-trip-input-fields {
      padding: 0 .5em;
      height: 80%;
      width: 75%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      background-color: #D5F2E8;
      border-radius: 15px;
  
      .destinations {
        width: 30%;
      }
    }

    button {
      background-color: #F27244;
      color: #fff;
      font-size: .8em;
      font-weight: 700;
      height: 2.2em;
      padding: .5em 1.2em;
      border-radius: 15px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.user-info-dropdown {
  border: 1px solid purple;
}

img {
  height: 2.5em;
}

main {
  background-color: #fff;
  margin-top: 1.3em;
  height: auto;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;

  .upcoming,
  .past,
  .pending {
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    // display: flex;
    // flex-direction: column;
    border: 1px solid purple;

    // section {
    //   width: 20%;
    // }
  }
}